.about_p_p span:nth-child(1),
.about_p_p span:nth-child(2),
.about_p_p span:nth-child(3) {
    color: green;
}

.about_p_p span:nth-child(4) {
    color: orange;
}

.about_p_l span:nth-child(1),
.about_p_l span:nth-child(2),
.about_p_l span:nth-child(3) {
    color: rgb(128, 0, 0);
}
