.background-shapes {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    top: 0;
    left: 0;
}

.shape {
    position: absolute;
    opacity: 0.2;
}

.square {
    width: 60px;
    height: 60px;
    background: #333435;
    animation: spin 10s infinite linear;
}

.circle {
    width: 60px;
    height: 60px;
    background: #333435;
    border-radius: 50%;
    animation: spin 8s infinite linear;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid #333435;
    animation: spin 12s infinite linear;
}

.shape:nth-child(1) {
    top: 20%;
    left: 10%;
    animation-delay: -2s;
}

.shape:nth-child(2) {
    top: 40%;
    right: 20%;
    animation-delay: -4s;
}

.shape:nth-child(3) {
    bottom: 30%;
    left: 30%;
    animation-delay: -6s;
}

.shape:nth-child(4) {
    bottom: 10%;
    right: 15%;
    animation-delay: -8s;
}

.shape:nth-child(5) {
    top: 10%;
    right: 30%;
    animation-delay: -10s;
}

.shape:nth-child(6) {
    top: 70%;
    right: 30%;
    animation-delay: -10s;
}

.shape:nth-child(7) {
    top: 13%;
    right: 40%;
    animation-delay: -10s;
}

.shape:nth-child(8) {
    top: 80%;
    right: 35%;
    animation-delay: -10s;
}

.shape:nth-child(9) {
    top: 45%;
    right: 60%;
    animation-delay: -10s;
}

.shape:nth-child(10) {
    top: 30%;
    right: 50%;
    animation-delay: -4s;
}

.shape:nth-child(11) {
    top: 20%;
    right: 60%;
    animation-delay: -4s;
}

.shape:nth-child(12) {
    top: 40%;
    right: 80%;
    animation-delay: -4s;
}

.shape:nth-child(13) {
    top: 90%;
    right: 90%;
    animation-delay: -4s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}